.tableContainer {
  width: 100%;
  border-radius: 10px;
  margin: 10px 0;
  padding: 10px;
  max-height: 500px;
  overflow: auto;
}

.table {
  width: 100%;
}

.tableHeader {
  position: sticky;
  top: -10px;
  text-align: left;
  border-bottom: 1px solid rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
  height: 50px;
}

.tableCell {
  padding: 8px;
}

.tableHeadCell {
  display: flex;
  padding: 8px;
}

.columnHeader {
  display: inline-block;
  justify-content: space-between;
  align-items: center;
  margin-right: 16px;
}

.tableRow {
  border-bottom: 1px solid rgb(var(--foreground-rgb));
}

.settingsIcon {
  cursor: pointer;
}