.tableContainer {
  width: 100%;
  border-radius: 10px;
  margin: 10px 0;
  padding: 10px;
  max-height: 500px;
  overflow: auto;
}

.table {
  width: 100%;
}

.tableHeader {
  position: sticky;
  top: -10px;
  text-align: left;
  border-bottom: 1px solid rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
  height: 50px;
}

.tableCell {
  padding: 8px;
}

.tableHeadCell {
  display: flex;
  padding: 8px;
}

.columnHeader {
  display: inline-block;
  justify-content: space-between;
  align-items: center;
  margin-right: 16px;
}

.tableRow {
  border-bottom: 1px solid rgb(var(--foreground-rgb));
}

.emptyTable {
  font-weight: bold;
  font-style: italic;
  font-size: large;
  margin: 100px;
  text-align: center;
}

.settingsIcon {
  cursor: pointer;
}

.settingsModal {
  text-align: center;
  overflow: auto;
}

.settingsInputContainer {
  display: grid;
  grid-template-columns: 10% 50%;
  padding-bottom: 15px;
  row-gap: 15px;
}

.settingsInput {
  width: 100%;
  margin: 0 8px;
  padding: 0 10px;
  border: 1px solid rgba(var(--foreground-rgb), 0.5);
  background-color: rgb(var(--background-rgb));
  border-radius: 4px;
  height: 40px;
}

.settingsInputLabel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.settingsButtonGroup {
  display: flex;
  justify-content: space-evenly;
}

.settingsButton {
  background-color: rgb(var(--button-rgb));
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  color: black;
}

.deleteButton {
  background-color: rgb(var(--button-rgb));
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  color: black;
}

.deleteButton:hover {
  background-color: rgba(255, 0, 0, 0.8);
}
