.searchDropdownContainer {
  position: relative;
  display: inline-block;
  width: 100%;
}

.subheader {
  font-size: 20px;
  font-weight: bold;
}

.settingsModal {
  margin: 0 8px;
  width: 100%;
}

.tableModal {
  padding: 15px 0;
}
