.searchDropdownContainer {
  position: relative;
  display: inline-block;
  width: 100%;
}

.subheader {
  font-size: 20px;
  font-weight: bold;
}

.selectDropdown {
  /* padding: 15px 0; */
  margin: 0 8px;
  /* padding: 0 10px; */
  width: 100%;
  
}
