.homeContainer {
		padding: 20px 10px;
}

.homeHeader {
	font-size: large;
	font-weight: bold;
	color: #272525;
}

.subHeading {
	font-size: small;
	color: #514e4e;
}

@media (prefers-color-scheme: dark) {
	.homeHeader {
		color: rgb(245, 245, 245);
	}

	.subHeading {
		color: rgb(169,169,169);
	}
}

.homeSearch {
	max-width: 400px;
}