.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.loginTitle {
  text-align: center;
  font-size: larger;
  margin-bottom: 10px;
}

.inputGroup {
  display: flex;
  margin-bottom: 15px;
}

.inputLabel {
  vertical-align: auto;
  align-items: center;
  margin: auto;
  padding-right: 20px;
}

.input {
  width: 100%;
  padding: 8px;
  border-radius: 3px;
  border: 1px solid #ccc;
  background-color: rgb(var(--background-rgb));
}

.submitButton {
  display: flex;
  margin: auto;
  background-color: rgb(var(--button-rgb));
  color: black;
  padding: 10px 15px;
  border-radius: 10px;
}

.submitButton:hover {
  background-color: rgba(var(--button-rgb), 0.9);
}
