.navContainer {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.navLeft {
  display: flex;
  align-items: center;
}

.navRight {
  display: flex;
  align-items: center;
}

.navUser {
  margin-right: 20px;
}

.navLogout,
.navLink {
  color: rgb(var(--foreground-rgb));
  padding: 8px 16px;
  border-radius: 4px;
}

.navLink {
  width: 130px;
  text-align: center;
}

.navLogout:hover,
.navLink:hover {
  color: rgb(var(--background-rgb));
  background-color: rgba(var(--button-rgb), 0.75);
}
