.searchContainer {
	position: relative;
	display: inline-block;
	width: 100%;
}

.searchInput {
	border: 1px solid #ccc;
	width: 100%;
	margin: 10px 0px;
	padding: 5px 0 5px 25px;
	font-size: 18px;
}

.searchIcon {
	position: absolute;
	left: 5px;
	top: 17px;
	pointer-events: none;
}