.searchContainer {
	position: relative;
	display: inline-block;
}

.searchInput {
	border: 1px solid #ccc;
	width: 400px;
	margin: 10px 0px;
	padding-left: 25px;
	font-size: 18px;
}

.searchIcon {
	position: absolute;
	left: 5px;
	top: 12px;
	pointer-events: none;
}