.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  padding: 20px 10px;
  min-height: 80vh;
}

.registerButton {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  align-items: center;
}

.textInput {
  width: 550px;
  padding: 0 10px;
  border: 1px solid rgba(var(--foreground-rgb), 0.5);
  background-color: rgb(var(--background-rgb));
  border-radius: 4px;
  height: 40px;
}

.textInput::placeholder {
  text-align: center;
}
